@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar-menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 60vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 2;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 60px;
    }

    .hero-description {
        font-size: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main-img-container {
        display: flex;
        justify-content: center;
    }

    .main-img-card {
        height: 425px;
        width: 425px;
    }

    .main-content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 3rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main-img-card {
        width: 250px;
        height: 250px;
    }

    .fa-users, .fa-layer-group {
        font-size: 4rem;
    }

    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 2rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

@media screen and (max-width: 1300px) {
    .services-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media  screen and (max-width: 768px) {
    .services-wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 820px) {
    .footer-links {
        padding-top: 2rem;
    }

    #footer-logo {
        margin-bottom: 2rem;
    }

    .website-rights {
        margin-bottom: 2rem;
    }

    .footer-link-wrapper {
        flex-direction: column;
    }

    .social-media-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer-link-items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}